<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>
<div th:fragment="articlesList"  id="results-block container" class="container"><!--th:unless="${#lists.isEmpty(guests)}"-->
    <p th:if="${articles.empty}">
    <td colspan="2"> No Books Available </td>
    </p>

    <div th:each="article ,iter : ${articles}" class="row" th:if="${iter.index % 4 }==0">

        <div th:each="article,iterStatus : ${articles}" th:if="${iterStatus.index lt iter.index + 3 and iterStatus.index ge iter.index}">
            <div class="card" style="width: 18rem;">
                <img th:src="@{${article.photo}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 th:text="${article.title}" class="card-title">title</h5>
                    <p th:text="${article.description}" class="card-text">description</p>
                    <a href="#" class="btn btn-primary" id="read_article">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>